<section>
  <div class="carousel w-full">
    <div id="slide1" class="carousel__slider">
      <img
        src="https://res.cloudinary.com/novanet-studio/image/upload/v1677862994/vpas/uploads/seafood_depot_bote_orilla_playa_6194848190.webp"
        class="w-full"
      />
      <div
        class="absolute flex align-content justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
      >
        <a href="#slide4" class="btn btn-circle">◀</a>
        <a href="#slide2" class="btn btn-circle">▶</a>
      </div>
    </div>
    <div id="slide2" class="carousel__slider">
      <img
        src="https://res.cloudinary.com/novanet-studio/image/upload/v1677862995/vpas/uploads/seafood_depot_canoas_rio_98124f4e25.webp"
        class="w-full"
      />
      <div
        class="absolute flex align-content justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
      >
        <a href="#slide1" class="btn btn-circle">◀</a>
        <a href="#slide3" class="btn btn-circle">▶</a>
      </div>
    </div>
  </div>
</section>

<style>
  .btn {
    @apply bg-primary text-white border-none text-xs;
  }

  .carousel__slider {
    @apply carousel-item relative w-full carousel-item relative w-full pt-20;
  }
</style>
