---
import { Markdown } from "@astropub/md";

export interface Props {
  title: string;
  text?: string;
  image?: string;
  id?: string;
}
const title = Astro.props.title;
const text = Astro.props.text;
const image = Astro.props.image;
const id = Astro.props.id;
---

<section id={id}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-32 pb-12 md:pt-16 md:pb-10">
      <div class="text-center pb-12 md:pb-16">
        <div class="prose prose-headings:text-primary mx-auto">
          <h1>{title}</h1>
        </div>
        <div class="max-w-3xl mx-auto ust-p">
          <Markdown class="ust-p" of={text} />
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8">
          <div class="flex flex-col justify-center">
            <img class="mx-auto rounded-md" src={image} alt="Hero" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .ust-p {
    @apply max-w-3xl mx-auto text-center text-xl pt-4;
  }
</style>
