---
import Layout from "~/layouts/Layout.astro";

import BasicFeatures from "~/components/features/BasicFeatures.astro";
import HeroWithImage from "~/components/heros/HeroWithImage.astro";
import CarouselWithButtons from "~/components/carousels/CarouselWithButtons.astro";
const HeroWithImageText = ` 
We are a company made up of a team with extensive experience with the objective of importing, distributing and exporting high quality products, based on the demands of the global market. <br/><br/>

We have several suppliers located at strategic points along the Venezuelan coasts and in South America, which are highly equipped to collect, transform, freeze and pack our products, respecting the principles of sustainability of the different marine resources that we process, applying strict quality standards. 
`;
---

<Layout
  title="Seafood Depot"
  description="Commercialization of hydrobiological products. Importers, distributors and exporters of high quality products, based on the demands of the global market"
>
  <main>
    <CarouselWithButtons />
    <HeroWithImage
      id="whatwedo"
      title="We are merchants of hydrobiological products"
      text={HeroWithImageText}
      image="/images/hero.webp"
    />
    <BasicFeatures idA="company" idB="products" />
    <div class="divider"></div>
  </main>
</Layout>
<style>
  main {
    @apply relative;
  }
</style>
