---
import BasicCard from "../cards/BasicCard.astro";

export interface Props {
  idA?: string;
  idB?: string;
}

const  { idA, idB } = Astro.props;

---

<section>
  <div class="features-container">
    <div class="features-padding">
      <div id={idA} class="ust">
        <p class="ust-baslik">The company</p>
        <h2>Vision</h2>
        <p class="ust-p">
          Buy and distribute hydrobiological products with the highest quality
          standards; to satisfy our clients, through a modern, innovative and
          efficient management with a direct treatment.
        </p>
      </div>
      <div class="ust">
        <p class="ust-baslik">The company</p>
        <h2>Mision</h2>
        <p class="ust-p">
          To be a leading company in the purchase, distribution and export of
          hydrobiological resources with the highest quality standards,
          incorporating our products in the most demanding markets worldwide.
        </p>
      </div>
      <h1>Products</h1>
      <div id={idB} class="alt">
        <BasicCard
          titulo="Sea species"
          resim="https://res.cloudinary.com/novanet-studio/image/upload/v1675095143/vpas/uploads/vpas_especie_de_mar_pargo_1e5699a73d.webp"
          link="/"
        />      

        <BasicCard
          titulo="Freshwater species"
          resim="https://res.cloudinary.com/novanet-studio/image/upload/v1675095143/vpas/uploads/vpas_especie_de_agua_dulce_cachama_4005e8d63c.webp"
          link="/"
        />
        <BasicCard
          titulo="Seafood species"
          resim="https://res.cloudinary.com/novanet-studio/image/upload/v1675095143/vpas/uploads/vpas_marisco_langosta_eda43a408b.webp"
          link="/"
        />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    @apply relative;
  }
  .features-container {
    @apply relative max-w-6xl mx-auto px-4 sm:px-6;
  }
  .features-padding {
    @apply py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12;
  }
  .ust {
    @apply mb-16 text-center text-primary;
  }
  h1 {
    @apply text-center pb-10;
  }
  h2 {
    @apply sm:text-3xl text-lg font-bold text-center  mb-1;
  }
  .ust-baslik {
    @apply text-base  font-semibold tracking-wide uppercase;
  }
  .ust-p {
    @apply max-w-3xl mx-auto text-center text-xl;
  }
  .alt {
    @apply grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white;
  }
</style>
